# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
.venv/
env/
venv/

# Environment variables
.env

# macOS
.DS_Store

# Windows
Thumbs.db

# VS Code
.vscode/

# Python logs
*.log

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# PyInstaller
dist/
build/
*.spec

# Audio/video output
*.mp3
*.wav
*.mp4
input_audio.*

# Uvicorn reload artifacts
*.reload

# Ignore uploads if needed
*.upload
